*.class
*.log

# sbt specific
.cache
.history
.lib
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
.idea

# pycaret_example & python_test_example
*.csv
pycaret_example/notebook/.ipynb_checkpoints
pycaret_example/notebook/catboost_info
__pycache__
